/* Toda la pagina va a tener un fondo negro 
sin margen y sin padding para que no me fastidie los padding y margin estandar de algunos elementos*/
* {
  margin: 0px;
  padding: 0px;
  background-color: black;
  font-family: "Playfair Display", serif;
  color: white;
}

a {
  color: white;
  text-decoration: none;
  font-size: 33px;
  font-style: oblique;
}
/* edicion de los titulos h3 para pantallas estandar y pequeñas */
h3 {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 33px;
  font-style: italic;
  color: #f5d986;
  font-weight: 500;
  padding: 10px;
}
header {
  position: relative;
}
/* Estilos para el video de fondo */
#header_fondo {
  width: 100%;
  height: 100vh; /* Modificar el tamaño del video */
  object-fit: cover;
}

/* Estilos para el menú */
ul#menu {
  background-color: black;
  position: absolute;
  max-width: 100vw;
  width: 100%;
  height: 10%;
  z-index: 1; /* Asegura que el menú esté encima del video */
  color: wheat;
  list-style: none;
  opacity: 0.3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  transition: opacity 1s ease, color 1s ease, padding 1s ease;

  #titulo_menu {
    transition: display 1s ease;
    order: 2;
    font-family: "Playfair Display", serif;
    font-size: 20px;
    padding: 10px;
  }
  #logo_menu {
    display: none;
    order: 1;
  }
  #buscar_menu {
    transition: display 1s ease;
    display: none;
    order: 3;
  }
  /* max width significa si es menor que este ancho haz esto
  min width lo opuesto */
  #idioma_menu {
    transition: display 1s ease;
    display: none;
    order: 5;
  }
  #buscar_text {
    display: none;
    background-color: #333;
    border-radius: 10px;
    border: 1px solid #dfdfdf;
  }
  #usuario_menu {
    transition: display 1s ease;
    display: none;
    order: 4;
  }
  #carrito_menu {
    transition: display 1s ease;
    display: none;
    order: 6;
  }
}

ul#menu:hover {
  opacity: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  #titulo_menu {
    transition: display 1s ease;
    order: 2;
    font-family: "Playfair Display", serif;
    font-size: 20px;
    padding: 10px;
  }
  #logo_menu {
    display: inline-block;
    order: 1;
  }
  #buscar_menu {
    transition: display 1s ease;
    display: inline-block;
    order: 3;
  }
  #idioma_menu {
    transition: display 1s ease;
    display: inline-block;
    order: 5;
  }
  #buscar_text {
    display: inline-block;
    background-color: #333;
    border-radius: 10px;
    border: 1px solid #dfdfdf;
  }
  /* quitar iconos si la pantalla es mas pequeña de 780px en estado HOVER */
  @media (max-width: 780px) {
    #buscar_text {
      display: none;
      background-color: #333;
      border-radius: 10px;
      border: 1px solid #dfdfdf;
    }
    #buscar_menu {
      display: block;
    }
    #idioma_menu {
      display: none;
    }
    #titulo_menu {
      order: 8;
    }
  }

  #usuario_menu {
    transition: display 1s ease;
    display: inline-block;
    order: 4;
  }
  #carrito_menu {
    transition: display 1s ease;
    display: inline-block;
    order: 6;
  }
  @media (max-width: 480px) {
    #carrito_menu {
      display: none;
    }
    #buscar_menu {
      display: none;
    }
  }
}

/* cambio de estilos cuando la pantalla es mas pequeña de 780 px */
@media (max-width: 780px) {
  #header_fondo {
    width: 100%;
    height: 100vh; /* Modificar el tamaño del video */
    object-fit: cover;
    object-position: 33%; /* Mover el video 30px hacia la izquierda */
  }
  h3 {
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 20px;
    padding-bottom: 15px;
  }
}

main {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
}
#autor {
  font-style: oblique;
  font-size: 15px;
  color: silver;
}
/* Primera seccion */
#primera-seccion {
  display: flex;
  flex-direction: column;

  #primer-articulo {
    margin: 0;
    padding: 0;
  }
}

/* ----------------final Primera seccion--------------------------- */
/* pimer articulo con animacion y video */
#texto1 {
  display: none;
  width: 100vw;
  text-align: center;
  font-size: 20px;
  padding-bottom: 30px;
  opacity: 0.5;
}

#imagen1 {
  order: 2;
  max-width: 100vw;
}
#primer-articulo:hover {
  #texto1 {
    animation: myAnim 1.5s ease 0s 1 normal forwards;
    display: inline-block;
    align-items: center;
  }
}
@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateY(-250px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* --------------------final pimer articulo con animacion y video ----------------------- */
/* --------------------boton con animacion ----------------------- */
.wrapper {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: auto;
  margin-top: 33px;
  margin-bottom: -20px;
}
button {
  width: 100px;
  height: 35px;
  background: linear-gradient(to left top, #000000 50%, #000000 50%);
  border-style: none;
  color: #fff;
  font-size: 12px;
  font-family: "Playfair Display", serif;
  letter-spacing: 3px;
  outline: none;
  cursor: pointer;
  position: relative;
  padding: 0px;
  overflow: hidden;
  transition: all 0.5s;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
button span {
  position: absolute;
  display: block;
}
button span:nth-child(1) {
  height: 3px;
  width: 200px;
  top: 0px;
  left: -200px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), #f6e58d);
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span1 2s linear infinite;
  animation-delay: 1s;
}

@keyframes span1 {
  0% {
    left: -200px;
  }
  100% {
    left: 200px;
  }
}
button span:nth-child(2) {
  height: 70px;
  width: 3px;
  top: -70px;
  right: 0px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #f6e58d);
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span2 2s linear infinite;
  animation-delay: 2s;
}
@keyframes span2 {
  0% {
    top: -70px;
  }
  100% {
    top: 70px;
  }
}
button span:nth-child(3) {
  height: 3px;
  width: 200px;
  right: -200px;
  bottom: 0px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), #f6e58d);
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  animation: span3 2s linear infinite;
  animation-delay: 3s;
}
@keyframes span3 {
  0% {
    right: -200px;
  }
  100% {
    right: 200px;
  }
}

button span:nth-child(4) {
  height: 70px;
  width: 3px;
  bottom: -70px;
  left: 0px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), #f6e58d);
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  animation: span4 2s linear infinite;
  animation-delay: 4s;
}
@keyframes span4 {
  0% {
    bottom: -70px;
  }
  100% {
    bottom: 70px;
  }
}

button:hover {
  transition: all 0.5s;
  transform: rotate(-3deg) scale(1.1);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
}
button:hover span {
  animation-play-state: paused;
}
/* ------------------------------------------- */

/* segunda seccion */
#segunda-seccion {
 
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  
}
@media (max-width:930px){
  #segunda-seccion {
  grid-row: 2 / end;
  }
}
.product-info {
  padding: 20px;
  margin: 20px;
}
#fila {
  display: flex; /* Ajusta la fila para que use Flexbox */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en filas */
  justify-content: space-evenly; /* Espaciado uniforme entre los elementos */
  width: 100%; /
}
#segunda-seccion img {
  max-width: 400px;
  min-width: 150px;
  max-width: 300px;
  min-width: 100px;
}
/* --------------------final segunda seccion------------------- */

iframe {
  height: 500px;
  width: 100vw;
}

ul.redes-sociales {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  margin-top: 20px;
}
h5 {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-style: italic;
  color: #f5d986;
  font-weight: 500;
  padding: 10px;
}

#Contacto {

  padding: 20px;
  margin: 20px;
  padding-top: -20px;
  margin-top: -30px;
  justify-content: space-around;
  width: 80%; /* Ancho del formulario */
  max-width: 400px; /* Ancho máximo del formulario */
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
 
}

#formulario{
  width: 80vw;
  
}
form{
  display: inline-block
  width: 80%; /* Ancho del formulario */
  text-align: center;
  padding: 20px;
}

/* Estilos para los inputs */
/* Estilos para los inputs */
form input[type="text"],
form input[type="email"],
form textarea
{
  width: 100%;
  padding: 12px; /* Aumentar el relleno interno */
  margin-bottom: 15px;
  border-radius: 8px; /* Aumentar el radio de borde */
  border: 1px solid #ccc;
  box-sizing: border-box; /* Garantiza que el padding no aumente el ancho total del input */
  font-size: 16px; /* Tamaño de fuente */
}
form input[type="submit"] {
  width: 20%;
  padding: 6px; /* Aumentar el relleno interno */
  margin-bottom: 15px;
  border-radius: 8px; /* Aumentar el radio de borde */
  border: 1px solid #ccc;
  box-sizing: border-box; /* Garantiza que el padding no aumente el ancho total del input */
  font-size: 16px; /* Tamaño de fuente */
}
/* Hacerlo responsive */
@media (max-width: 768px) {
  form {
    width: 90%; /* Reducir el ancho del formulario en pantallas más pequeñas */
  }

  /* Redefinir estilos para inputs en pantallas más pequeñas si es necesario */
  form input[type="text"],
  form input[type="email"],
  form textarea {
    font-size: 14px; /* Reducir el tamaño de fuente en pantallas más pequeñas si es necesario */
    padding: 10px; /* Modificar el relleno interno en pantallas más pequeñas si es necesario */
  }
}
